/************************/
/****** Components ******/
/************************/

/* Button */
.c-button {
    background-color: var(--white);;
    border: 1px solid var(--black);
    font-family: var(--font-family);
    text-align: center;
    padding: var(--space-m);
}

.c-button--primary {
    background-color: var(--primary);
    color: var(--white);
}

/* Navigation */
.c-nav {
    color: var(--white);
}

.c-nav__img {
    position: absolute;
    z-index: -1;
}

.c-nav__wrapper {
    align-items: stretch;
    display: flex;
    padding: var(--space-s);
    justify-content: space-between;
}

.c-nav__button {
    height: 40px;
    position: relative;
    width: 40px;
}

.c-nav__button--bar,
.c-nav__button--bar::before,
.c-nav__button--bar::after {
    position: absolute;
    width: 40px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 3px;
    background-color: var(--black);
}

.c-nav__button--bar::before,
.c-nav__button--bar::after {
    content: '';
}

.c-nav__button--bar::before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform,opacity;
}

.c-nav__button--bar::after {
    top: 20px;
}