/* Styles for HOME page */
.home {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.home::before {
    background-color: rgba(0, 0, 0, .3);
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home__wrapper {
    z-index: 1;
}

.home__toolbar {
    align-items: stretch;
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(2 * var(--space-m));

    position: absolute;
    bottom: 20vh;
    width: 100%;
}

.home__button {
    border: none;
    flex-grow: 1;
}

@media only screen and (min-width: 500px) {
    .home__image {
        max-width: 500px;
    }
}