:root {
    --primary:  #ee8a1e;
    --text:     #1a1a1a;

    --blue:    #0000ff;
    --red:     #ff0000;
    --black:   #000000;

    --white:    #fff;
    --grey:     #333;

    /* Text size */
    --text-s:   .75rem;
    --text-m:   1rem;
    --text-l:   1.25rem;

    --font-magenta: 'MagentaFont', Helvetica, Arial, sans-serif;

    --line-height-s: calc(1.35 * var(--text-s));
    --line-height-m: calc(1.35 * var(--text-m));
    --line-height-l: calc(1.35 * var(--text-l));

    /* Spacing */
    --space-s: .75em;
    --space-m: 1em;
    --space-l: 1.25em;
}